<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Go Fileserver - Register</title>
    <link rel="stylesheet" href="public/main.css" type="text/css">
</head>
<body>

<header>
    <div>
        Hallo <span id="username"></span> <a href="public/login.html">Logout</a>
        <br>
        <a href="settings.html">Einstellungen</a>
    </div>
    <h1>Meine Dateien</h1>
</header>

<div id="mainContainer">
    Pfad: <span id="path"></span>
    <table border="1">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Größe</th>
            <th>Datum</th>
            <th>Download</th>
            <th>Löschen</th>
        </tr>
        {{range .}}
        <tr>
            <td><img src="public/images/{{.Image}}.png" alt="Datei"></td>
            {{if .IsFolder}}
                <td><a href="index.html?path={{.ObjectPath}}">{{.Name}}</a></td>
            {{else}}
                <td>{{.Name}}</td>
            {{end}}
            <td>{{.Size}}</td>
            <td>{{.Date}}</td>
            <td>
                <form action="/ops/download" method="post">
                    <input type="hidden" name="filepath"
                           value="{{.ObjectPath}}">
                    <input type="hidden" name="returnPath"
                           value="{{.FolderPath}}">
                    <input class="btn"
                           type="submit"
                           value="Download">
                </form>
            </td>
            <td>
                <form action="/ops/delete" method="post">
                    <input type="hidden" name="filepath"
                           value="{{.ObjectPath}}">
                    <input type="hidden" name="returnPath"
                           value="{{.FolderPath}}">
                    <input class="btn" type="submit"
                           value="Delete"></form>
            </td>
        </tr>
        {{end}}
        <!--<tr>
            Name    string
            folderPath string
            Size    int64
            Date    time.Time
            Image   string
        </tr>-->
    </table>
</div>

<div class="divNew">
    <fieldset>
        <legend>Ordner anlegen</legend>
        <form action="/ops/newFolder" method="post">
            <label for="addFolder">Ordnername: </label>
            <input type="text" name="folderName" id="addFolder">
            <br>
            <input class="btn" type="submit" value="Ordner anlegen">
        </form>
    </fieldset>

    <fieldset>
        <legend>Upload</legend>
        <form action="/ops/upload" method="post" enctype="multipart/form-data">
            <label for="uploadFile">Datei: </label>
            <input type="file" name="uploadfile" id="uploadFile">
            <br>
            <input class="btn" type="submit" value="Datei hochladen">
        </form>
    </fieldset>
</div>

</body>
</html>
